@model List<Practica.EF.MVC.Models.SuppliersView>

@{
    ViewBag.Title = "Suppliers List";
}


<h1>List of Suppliers</h1>

@Html.ActionLink("Insert new Supplier", "Insert", "Suppliers", new { @class = "btn button" })
<br />
<table class="table">
    <thead>
        <tr class="active">
            <th scope="col" >Id</th>
            <th scope="col">Company Name</th>
            <th scope="col">Contact Name</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sup in Model)
        {
            <tr>
                <td class="active">@sup.Id</td>
                <td>@sup.CompanyName</td>
                <td>@sup.ContactName</td>
                <td>@sup.City</td>
                <td>@sup.Country</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = sup.Id }, new { @class = "btn button" })
                    @Html.ActionLink("Delete", "Delete", new { id = sup.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wanna delete this supplier?')" })
                </td>
            </tr>
        }
    </tbody>
</table>



