@model Practica.EF.MVC.Models.SuppliersView

@{
    ViewBag.Title = "Suppliers";
}

<h1>View for Insert</h1>

@ViewBag.Message

@using (Html.BeginForm("Insert", "Suppliers", FormMethod.Post))
{@Html.ValidationSummary(true)
<table class="table">
    <tr>
        <td><label>Company Name*</label></td>
        <td>
            @Html.TextBoxFor(s => s.CompanyName)
            @Html.ValidationMessageFor(s => s.CompanyName, "", new
       {
           @class = "text-danger"
       })
        </td>
    </tr>
    <tr>
        <td><label>Contact Name</label></td>
        <td>
            @Html.TextBoxFor(s => s.ContactName)
            @Html.ValidationMessageFor(s => s.ContactName, "", new
       {
           @class = "text-danger"
       })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(s => s.City)*</td>
        <td>
            @Html.TextBoxFor(s => s.City)
            @Html.ValidationMessageFor(s => s.City, "", new
       {
           @class = "text-danger"
       })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(s => s.Country)</td>
        <td>
            @Html.TextBoxFor(s => s.Country)
            @Html.ValidationMessageFor(s => s.Country, "", new
       {
           @class = "text-danger"
       })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="reset" class="btn btn-primary" value="Reset" />
            <input type="submit" class="btn btn-default" value="Save" />
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
}
