@model Practica.EF.MVC.Models.CategoriesView

@{
    ViewBag.Title = "Categories";
}

<h1>View for Insert or Update</h1>


@using (Html.BeginForm("InsUpd", "Categories", FormMethod.Post))
{@Html.ValidationSummary(true)
<table>
    <tr>@Html.HiddenFor(c => c.Id)</tr>
    <tr>
        <td>@Html.LabelFor(c => c.Name)</td>
        <td>
            @Html.EditorFor(c => c.Name, new { id = "Name" })
            @Html.ValidationMessageFor(c => c.Name)
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(c => c.Description)</td>
        <td>
            @Html.EditorFor(c => c.Description, new { id = "Description" })
            @Html.ValidationMessageFor(c => c.Name)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="reset" class="btn btn-primary" value="Reset" />
            <input type="submit" class="btn btn-default" value="Save" />
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
}