@model List<Practica.EF.MVC.Models.WizardWorldView>

<h1>List of Hogwarts Houses</h1>
<br />

<table class="table colourh table-bordered">
    <thead>
        <tr class="disabled">
            <th scope="col">Name</th>
            <th scope="col">House Colours</th>
            <th scope="col">Founder</th>
            <th scope="col">Animal</th>
            <th scope="col">Element</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var house in Model)
        {
            <tr>
                <td>@house.Name</td>
                <td>@house.HouseColours</td>
                <td>@house.Founder</td>
                <td>@house.Animal</td>
                <td>@house.Element</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to home", "Home", "WizardWorld", new { @class = "btn button" })
</div>